@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    background: url("gg.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    padding-right: 90px; /* Increased padding on the right */
}

.container form {
    width: 90%; /* Responsive width */
    max-width: 420px; /* Maximum width for larger screens */
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    backdrop-filter: blur(20px); /* Blur effect */
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
    color: #ffffff;
    position: relative; /* Relative positioning for absolute children */
    transition: height 0.6s ease;
    overflow: hidden;
    padding: 40px;
}

.container form h1 {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.container form input, 
.container form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    background: transparent;
    color: #e0e0e0;
    font-size: 16px;
}

.container form input::placeholder, 
.container form textarea::placeholder {
    color: #b0b0b0;
}

.container form textarea {
    resize: none;
    height: 100px;
}

.container form h4 {
    color: #e0e0e0;
    font-weight: 400;
    margin-bottom: 10px;
}

.container form #button {
    width: 100px;
    padding: 10px;
    background: #5170ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.container form #button:hover {
    background: #4159cc;
}
